@import 'tailwindcss';
@import '@nuxt/ui';

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 999px;
  margin: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.5);
  border-radius: 999px;
  border: 2px solid transparent;
  background-clip: padding-box;
  transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(107, 114, 128, 0.7);
  background-clip: padding-box;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(156, 163, 175, 0.5) transparent;
}

@theme {
  --font-sans:
    'Sofia Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --font-bungee:
    'Bungee', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

  --color-tuatara: #353535;
  --color-tuatara-50: #f6f6f6;
  --color-tuatara-100: #e7e7e7;
  --color-tuatara-200: #d1d1d1;
  --color-tuatara-300: #b0b0b0;
  --color-tuatara-400: #888888;
  --color-tuatara-500: #6d6d6d;
  --color-tuatara-600: #5d5d5d;
  --color-tuatara-700: #4f4f4f;
  --color-tuatara-800: #454545;
  --color-tuatara-900: #353535;
  --color-tuatara-950: #262626;

  --color-william: #3c6e71;
  --color-william-50: #f4f9f9;
  --color-william-100: #dbecea;
  --color-william-200: #b7d8d7;
  --color-william-300: #8abebe;
  --color-william-400: #629e9f;
  --color-william-500: #488284;
  --color-william-600: #3c6e71;
  --color-william-700: #305355;
  --color-william-800: #294446;
  --color-william-900: #26393b;
  --color-william-950: #121f21;

  --color-alto: #d9d9d9;
  --color-alto-50: #f7f7f7;
  --color-alto-100: #ededed;
  --color-alto-200: #d9d9d9;
  --color-alto-300: #0a0a0a;
  --color-alto-400: #adadad;
  --color-alto-500: #999999;
  --color-alto-600: #888888;
  --color-alto-700: #7b7b7b;
  --color-alto-800: #676767;
  --color-alto-900: #545454;
  --color-alto-950: #363636;

  --color-pickled-bluewood: #284b63;
  --color-pickled-bluewood-50: #f4f8fb;
  --color-pickled-bluewood-100: #e8eff6;
  --color-pickled-bluewood-200: #ccdeeb;
  --color-pickled-bluewood-300: #9fc4da;
  --color-pickled-bluewood-400: #6ba4c5;
  --color-pickled-bluewood-500: #4889af;
  --color-pickled-bluewood-600: #366e93;
  --color-pickled-bluewood-700: #2d5977;
  --color-pickled-bluewood-800: #284b63;
  --color-pickled-bluewood-900: #264054;
  --color-pickled-bluewood-950: #192a38;
}
