@import 'tailwindcss';
@import '@nuxt/ui';

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 999px;
  margin: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.5);
  border-radius: 999px;
  border: 2px solid transparent;
  background-clip: padding-box;
  transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(107, 114, 128, 0.7);
  background-clip: padding-box;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(156, 163, 175, 0.5) transparent;
}

:root {
  --ui-info: var(--color-blue-600);

  --ui-text-dimmed: var(--color-treez-400);
  --ui-text-muted: var(--color-treez-500);
  --ui-text-toned: var(--color-treez-600);
  --ui-text: var(--color-treez-700);
  --ui-text-highlighted: var(--color-treez-950);
  --ui-text-inverted: var(--color-white);

  --ui-bg: var(--color-white);
  --ui-bg-muted: var(--color-treez-50);
  --ui-bg-elevated: var(--color-treez-100);
  --ui-bg-accented: var(--color-treez-200);
  --ui-bg-inverted: var(--color-treez-950);

  --ui-border: var(--color-treez-200);
  --ui-border-muted: var(--color-treez-200);
  --ui-border-accented: var(--color-treez-200);
  --ui-border-inverted: var(--color-treez-950);

  --ui-radius: 0.25rem;
}

.dark {
  --ui-info: var(--color-blue-600);

  --ui-text-dimmed: var(--color-treez-500);
  --ui-text-muted: var(--color-treez-400);
  --ui-text-toned: var(--color-treez-300);
  --ui-text: var(--color-treez-200);
  --ui-text-highlighted: var(--color-white);
  --ui-text-inverted: var(--color-treez-950);

  --ui-bg: var(--color-treez-950);
  --ui-bg-muted: var(--color-treez-900);
  --ui-bg-elevated: var(--color-treez-800);
  --ui-bg-accented: var(--color-treez-800);
  --ui-bg-inverted: var(--color-white);

  --ui-border: var(--color-treez-800);
  --ui-border-muted: var(--color-treez-800);
  --ui-border-accented: var(--color-treez-800);
  --ui-border-inverted: var(--color-white);
}

@theme {
  --font-sans:
    'Sofia Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --font-bungee:
    'Bungee', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

  --color-treez-50: oklch(88.213% 0.01284 254.32);
  --color-treez-100: oklch(83.671% 0.01625 252.56);
  --color-treez-200: oklch(76.982% 0.02342 251.83);
  --color-treez-300: oklch(69.157% 0.03165 250.74);
  --color-treez-400: oklch(61.593% 0.04018 249.87);
  --color-treez-500: oklch(53.876% 0.04396 248.93);
  --color-treez-600: oklch(46.238% 0.03812 247.64);
  --color-treez-700: oklch(38.729% 0.03104 246.82);
  --color-treez-800: oklch(30.982% 0.02385 245.91);
  --color-treez-900: oklch(23.457% 0.01732 244.73);
  --color-treez-950: oklch(18.124% 0.01164 243.58);

  /* --color-treez: oklch(24.816% 0.00928 234.12);
  --color-treez-50: oklch(88.291% 0.00877 247.93);
  --color-treez-100: oklch(85.087% 0.01133 243.68);
  --color-treez-200: oklch(78.67% 0.01591 241.83);
  --color-treez-300: oklch(72.129% 0.02069 240.85);
  --color-treez-400: oklch(65.485% 0.02675 242.55);
  --color-treez-500: oklch(58.688% 0.03015 241.49);
  --color-treez-600: oklch(51.614% 0.02634 242.27);
  --color-treez-700: oklch(44.287% 0.02238 243.38);
  --color-treez-800: oklch(36.898% 0.01787 238.53);
  --color-treez-900: oklch(28.934% 0.01247 243.28);
  --color-treez-950: oklch(24.816% 0.00928 234.12); */

  /* --color-treez: oklch(58.537% 0.0267 244.4);
  --color-treez-50: oklch(94.514% 0.00345 247.86);
  --color-treez-100: oklch(91.439% 0.00521 247.88);
  --color-treez-200: oklch(85.133% 0.00957 242.86);
  --color-treez-300: oklch(78.792% 0.01335 244.3);
  --color-treez-400: oklch(72.249% 0.01807 242.53);
  --color-treez-500: oklch(65.531% 0.02199 238.85);
  --color-treez-600: oklch(58.537% 0.0267 244.4);
  --color-treez-700: oklch(48.954% 0.02186 243.3);
  --color-treez-800: oklch(38.832% 0.01558 237.05);
  --color-treez-900: oklch(27.762% 0.01029 242.06);
  --color-treez-950: oklch(22.024% 0.00744 248.17); */
}

@theme default {
  --color-primary: var(--ui-primary);
  --color-primary-50: var(--ui-color-primary-50);
  --color-primary-100: var(--ui-color-primary-100);
  --color-primary-200: var(--ui-color-primary-200);
  --color-primary-300: var(--ui-color-primary-300);
  --color-primary-400: var(--ui-color-primary-400);
  --color-primary-500: var(--ui-color-primary-500);
  --color-primary-600: var(--ui-color-primary-600);
  --color-primary-700: var(--ui-color-primary-700);
  --color-primary-800: var(--ui-color-primary-800);
  --color-primary-900: var(--ui-color-primary-900);
  --color-primary-950: var(--ui-color-primary-950);
  --color-secondary: var(--ui-secondary);
  --color-secondary-50: var(--ui-color-secondary-50);
  --color-secondary-100: var(--ui-color-secondary-100);
  --color-secondary-200: var(--ui-color-secondary-200);
  --color-secondary-300: var(--ui-color-secondary-300);
  --color-secondary-400: var(--ui-color-secondary-400);
  --color-secondary-500: var(--ui-color-secondary-500);
  --color-secondary-600: var(--ui-color-secondary-600);
  --color-secondary-700: var(--ui-color-secondary-700);
  --color-secondary-800: var(--ui-color-secondary-800);
  --color-secondary-900: var(--ui-color-secondary-900);
  --color-secondary-950: var(--ui-color-secondary-950);
  --color-success: var(--ui-success);
  --color-success-50: var(--ui-color-success-50);
  --color-success-100: var(--ui-color-success-100);
  --color-success-200: var(--ui-color-success-200);
  --color-success-300: var(--ui-color-success-300);
  --color-success-400: var(--ui-color-success-400);
  --color-success-500: var(--ui-color-success-500);
  --color-success-600: var(--ui-color-success-600);
  --color-success-700: var(--ui-color-success-700);
  --color-success-800: var(--ui-color-success-800);
  --color-success-900: var(--ui-color-success-900);
  --color-success-950: var(--ui-color-success-950);
  --color-info: var(--ui-info);
  --color-info-50: var(--ui-color-info-50);
  --color-info-100: var(--ui-color-info-100);
  --color-info-200: var(--ui-color-info-200);
  --color-info-300: var(--ui-color-info-300);
  --color-info-400: var(--ui-color-info-400);
  --color-info-500: var(--ui-color-info-500);
  --color-info-600: var(--ui-color-info-600);
  --color-info-700: var(--ui-color-info-700);
  --color-info-800: var(--ui-color-info-800);
  --color-info-900: var(--ui-color-info-900);
  --color-info-950: var(--ui-color-info-950);
  --color-warning: var(--ui-warning);
  --color-warning-50: var(--ui-color-warning-50);
  --color-warning-100: var(--ui-color-warning-100);
  --color-warning-200: var(--ui-color-warning-200);
  --color-warning-300: var(--ui-color-warning-300);
  --color-warning-400: var(--ui-color-warning-400);
  --color-warning-500: var(--ui-color-warning-500);
  --color-warning-600: var(--ui-color-warning-600);
  --color-warning-700: var(--ui-color-warning-700);
  --color-warning-800: var(--ui-color-warning-800);
  --color-warning-900: var(--ui-color-warning-900);
  --color-warning-950: var(--ui-color-warning-950);
  --color-error: var(--ui-error);
  --color-error-50: var(--ui-color-error-50);
  --color-error-100: var(--ui-color-error-100);
  --color-error-200: var(--ui-color-error-200);
  --color-error-300: var(--ui-color-error-300);
  --color-error-400: var(--ui-color-error-400);
  --color-error-500: var(--ui-color-error-500);
  --color-error-600: var(--ui-color-error-600);
  --color-error-700: var(--ui-color-error-700);
  --color-error-800: var(--ui-color-error-800);
  --color-error-900: var(--ui-color-error-900);
  --color-error-950: var(--ui-color-error-950);
  --color-neutral-50: var(--ui-color-neutral-50);
  --color-neutral-100: var(--ui-color-neutral-100);
  --color-neutral-200: var(--ui-color-neutral-200);
  --color-neutral-300: var(--ui-color-neutral-300);
  --color-neutral-400: var(--ui-color-neutral-400);
  --color-neutral-500: var(--ui-color-neutral-500);
  --color-neutral-600: var(--ui-color-neutral-600);
  --color-neutral-700: var(--ui-color-neutral-700);
  --color-neutral-800: var(--ui-color-neutral-800);
  --color-neutral-900: var(--ui-color-neutral-900);
  --color-neutral-950: var(--ui-color-neutral-950);

  --text-color-dimmed: var(--ui-text-dimmed);
  --text-color-muted: var(--ui-text-muted);
  --text-color-toned: var(--ui-text-toned);
  --text-color-default: var(--ui-text);
  --text-color-highlighted: var(--ui-text-highlighted);
  --text-color-inverted: var(--ui-text-inverted);
  --background-color-default: var(--ui-bg);
  --background-color-muted: var(--ui-bg-muted);
  --background-color-elevated: var(--ui-bg-elevated);
  --background-color-accented: var(--ui-bg-accented);
  --background-color-inverted: var(--ui-bg-inverted);
  --background-color-border: var(--ui-border);
  --border-color-default: var(--ui-border);
  --border-color-muted: var(--ui-border-muted);
  --border-color-accented: var(--ui-border-accented);
  --border-color-inverted: var(--ui-border-inverted);
  --border-color-bg: var(--ui-bg);
  --ring-color-default: var(--ui-border);
  --ring-color-muted: var(--ui-border-muted);
  --ring-color-accented: var(--ui-border-accented);
  --ring-color-inverted: var(--ui-border-inverted);
  --ring-color-bg: var(--ui-bg);
  --ring-offset-color-default: var(--ui-border);
  --ring-offset-color-muted: var(--ui-border-muted);
  --ring-offset-color-accented: var(--ui-border-accented);
  --ring-offset-color-inverted: var(--ui-border-inverted);
  --ring-offset-color-bg: var(--ui-bg);
  --divide-color-default: var(--ui-border);
  --divide-color-muted: var(--ui-border-muted);
  --divide-color-accented: var(--ui-border-accented);
  --divide-color-inverted: var(--ui-border-inverted);
  --divide-color-bg: var(--ui-bg);
  --outline-color-default: var(--ui-border);
  --outline-color-inverted: var(--ui-border-inverted);
  --stroke-color-default: var(--ui-border);
  --stroke-color-inverted: var(--ui-border-inverted);
  --fill-color-default: var(--ui-border);
  --fill-color-inverted: var(--ui-border-inverted);

  --radius-xs: calc(var(--ui-radius) * 0.5); /* 0.125rem */
  --radius-sm: var(--ui-radius); /* 0.25rem */
  --radius-md: calc(var(--ui-radius) * 1.5); /* 0.375rem */
  --radius-lg: calc(var(--ui-radius) * 2); /* 0.5rem */
  --radius-xl: calc(var(--ui-radius) * 3); /* 0.75rem */
  --radius-2xl: calc(var(--ui-radius) * 4); /* 1rem */
  --radius-3xl: calc(var(--ui-radius) * 6); /* 1.5rem */
}
